@import "tailwindcss";
@font-face {
  font-family: "Corpta";
  src: url("../assets/fonts/Corpta\ DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


@theme {
  --font-corpta: "Corpta", sans-serif;
}